[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-dotenv = "*"
yapf = "*"

[packages]
discord-py = "*"
requests = "*"
pymongo = "*"
boto3 = "*"
gspread = "*"
oauth2client = "*"
pdf2image = "*"

[requires]
python_version = "3.8"
